<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Search letterboxd.com!</title>
		<link href="/static/style.css" rel="stylesheet"></head>
		<script src="/static/script.js"></script>
    <body onload="getDate()">
			<div class="container">
        <form autocomplete="off" action="https://www.google.com/search" method="get">
				<table>
					<thead><tr><th>
						<a href="https://letterboxd.com/" target="_blank">
							<img src="https://a.ltrbxd.com/logos/letterboxd-logo-v-neg-rgb-1000px.png" alt="Letterboxd" width="400" height="200">
						</a>
					</th></tr></thead>
					<tbody>
					<tr>
						<td>
            <input name="q" id="txtSearch" type="text" placeholder="Search letterboxd.com" onkeyup="toggleButton()">
						<input type="hidden" name="q" value="site:letterboxd.com">
            <input type="submit" disabled value="Search" name="btnSearch" id="btnSearch">
						</td>
					</tr>
					<tr>
						<td class="footer"><img height="14px" src="static/leaf.png">&nbsp;&nbsp;Carbon neutral since 2023</td>
					</tr>
					<tr>
						<td class="footer">
							<a href="https://letterboxd.com/about/faq" target="_blank">
								About letterboxd.com
							</a>
						&nbsp;|&nbsp;<span id="date">[JAVASCRIPT DATE HERE]</span>
						</td>
					</tr>
					</tbody>
				</table>
        </form>
			</div>
    </body>
</html>
